<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Careers</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
      #banner{
        object-fit:cover;
        height:360px;
        width:100%;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-2">
        Careers page
      </h1>
      <img id='banner' src="https://careers-website-1--bryanmwai.repl.co/static/careers.jpg" class="img-fluid">
      <h2 class="text-center">
        About us
      </h2>
      <p class="lead">
        Et culpa occaecat enim minim labore dolore duis dolore cillum pariatur est sint magna. Culpa amet consequat duis sed adipiscing dolore ex pariatur laborum ex enim voluptate. Consectetur enim ullamco quis reprehenderit proident enim commodo voluptate voluptate culpa qui eiusmod tempor proident. In non dolor ex lorem consectetur eu nulla fugiat amet.

        
  Ut incididunt sunt ex voluptate nostrud culpa ea veniam lorem elit cillum elit non. Cillum amet culpa reprehenderit consequat consectetur aliquip minim lorem ullamco tempor anim elit magna sit. Aliqua anim aliqua mollit irure aliquip do laborum velit ut qui. Eiusmod quis esse ipsum voluptate enim nisi ad tempor laboris dolore id eiusmod.
  
  Incididunt consequat excepteur proident in exercitation labore culpa fugiat amet mollit ea culpa irure in consectetur esse ea occaecat excepteur. Veniam anim in laboris culpa laborum veniam laborum mollit ea amet lorem do velit tempor dolore ea. Ex voluptate laborum minim proident sit excepteur duis ipsum anim pariatur anim. Reprehenderit ullamco exercitation adipiscing nostrud consectetur reprehenderit veniam eu id incididunt ipsum dolor occaecat.
      </p>
      <h2 class="text-center">
        Open positions
      </h2>
      <p>
        {% for job in jobs %}
          {% include 'widgets/jobitem.html' %}
        {% endfor %}
      </p>
      <div class="d-grid gap-2 mt-4">
        <button type="button" class="btn btn-outline-secondary btn-lg">Contact us</button>
        
      </div>
      <p class="text-center mt-4">Copyright 2023,Bryan</p>
       
    </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

  </body>
</html>